*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-color: bisque;
}
.title{
    text-align: center;
    border: 5px double #f4333f;
    color: blue;
    width: 500px;
    height: 50px;
}
.date{
    width: 350px;
    height: 45px;
    margin-top: 20px;
    text-align: right;
    border: 5px double #f4333f;
}
.image{
    margin: 10px 0px ;
    padding: 10px;
    width: 350px;
    height: 220px;
    text-align: center;
    border: 5px double #f4333f;
}
.main{
    margin: 10px 0px;
    padding: 40px;
    width: 350px;
    border: 5px double #f4333f;
    text-align: center;
}
.mark{
    font-size: 30px;
    text-align: center;
}
